:root {
  --fuenteHeading: 'Inter', sans-serif;

  --violeta: #B418A4;
  --celeste: #30D5C8;
  --verde: #26BAAE;
  --celesteClaro: #BBF1ED;
  --gris: #474747;
}
body {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  font-family: var(--fuenteHeading);
}

.boton-navigation {
  background-color: var(--celeste);
}